<%= content_for_sidebar do %>
    <ul class="nav nav-tabs nav-stacked">
      <li class="active"><%= link_to "Home", "/" %></li>
      <li><%= link_to "Show Performence", time_trackers_path %></li>
    </ul>
<% end %>